@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #030F21;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: 'Montserrat';
    font-weight: bold;
}

header{
    height: 100px;
    background-color: #05072F;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

nav{
    display: flex;
    flex-direction: row;
}

a{
    color: white;
    text-decoration: none;
}

main{
    flex-grow: 1;
    display: flex;
    margin-right:100px;
}

footer{
    height: 70px;
    display: flex;
    background-color: #05072F;
    align-items: center;
    justify-content: center;
}

h2{
    color: white;
}

.fecaf{
    color: red;
    height: 40%;
}

span{
    color: white;
    height: 40%;
}

.menu{
    margin: 20px;
}

.help{
    margin: 10px;
}

.item{
    margin: 10px;
    color: red;
}

.login{
    margin: 10px;
}

.account{
    color: red;
}

.music{
    font-size: 100px;
    color: red;
    margin-left: 100px;
}

.texto{
    max-width: 50%;
    height: auto;
}

.img{
    width: 50%;
    height: 100%;
    background-image: url(../imgs/image.png);
    background-size: contain;
    background-repeat: no-repeat;
}

h3{
    margin-left: 100px;
    color: white;
    margin-top: 30px;
}

.download{
    margin-top: 50px;
    padding: 22px 85px 20px 22px;
    margin-left: 50px;
    width: 100px;
    margin-left: 50px;
    color: white;
    background: red;
    border-radius: 30px;
    user-select: none;
    cursor: pointer;
    font-size: 20px;
    white-space: nowrap;
    text-align: center;
}

.start{
    margin-top: 50px;
    padding: 22px 85px 20px 22px;
    width: 100px;
    margin-left: 50px;
    color: white;
    background: purple;
    border-radius: 30px;
    user-select: none;
    cursor: pointer;
    font-size: 20px;
    white-space: nowrap;
    text-align: center;
}

.btn{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}

.download:hover{
    background: rgb(223, 102, 102);
    transition: background 1s;
}
.start:hover{
    background: rgb(185, 77, 185);
    transition: background 1s;
} 
